<div class="tk-appt-window__wrapper-body__scroll">
    {{#locations}}
        <div class="card-container" id="{{ id }}">
            <div class="card-title">
                {{ name }}
                {{#selectorOptions.search_bar.enabled}}
                    <div class="card-title-distance">{{distance}} km</div>
                {{/selectorOptions.search_bar.enabled}}
            </div>
            <div class="card-body">{{ meta.t_store_address }}, {{ meta.t_store_city }}</div>
            <div class="card-footer">{{ meta.t_store_phone }}</div>
        </div>
    {{/locations}}
</div>