<div class="bookingjs-form-field bookingjs-form-field--checkbox">  
  <label
    for="input-{{ key }}"
    class="bookingjs-form-label--checkbox label-{{ key }}">
    {{ title }}
    <input
      id="input-{{ key }}"
      class="bookingjs-form-input--checkbox input-{{ key }}"
      type="checkbox"
      name="{{ key }}"
      value="true"
      {{# prefilled }} checked {{/ prefilled }}
      {{# readonly }} disabled {{/ readonly }}
      {{# required }} required {{/ required }}
  />
  </label>
</div>
