<div class="bookingjs-form-field bookingjs-form-field--checkbox-multi">
  <legend class="bookingjs-form-label">{{ title }}</legend>
  {{# enum }}
  <label
    for="input-{{ key }}-{{ . }}"
    class="bookingjs-form-label--checkbox label-{{ key }}">    
    <input
      type="checkbox"
      value="{{ . }}"
      name="{{ key }}"
      id="input-{{ key }}-{{ . }}"
      {{# prefilled }} checked {{/ prefilled }}
      {{# readonly }} disabled {{/ readonly }}
      {{# required }} required {{/ required }}
      class="bookingjs-form-input--checkbox input-{{ key }}"
    />
    {{ . }}
  </label>
  {{/ enum }}
</div>
