<div class="bookingjs-bookpage">
    <a class="bookingjs-bookpage-close" href="#">{{& closeIcon }}</a>
    <div class="bookingjs-bookpage-header">
      <h2>Confirm Rescheduling</h2>
      <h3>Former Booking:</h3>
      <p><b class="bookingjs-form-text">Date:</b> <span class="former-booking-date">{{ oldDate }}</span></p>
      <p><b class="bookingjs-form-text">Time:</b>	<span class="former-booking-time">{{ oldTime }}</span></p>
      <h3>Rescheduled Booking:</h3>
      <p><b class="bookingjs-form-text">Date:</b> <span class="current-booking-date">{{ chosenDate }}</span></p>
      <p><b class="bookingjs-form-text">Time:</b> <span class="current-booking-time">{{ chosenTime }}</span></p>
      {{#allocatedResource}}
        <span class="bookingjs-bookpage-resource-prefix">{{ allocatedResourcePrefix }}</span>
        <h3 class="bookingjs-bookpage-resource">{{ allocatedResource }}</h3>
      {{/allocatedResource}}
    </div>
    <form class="bookingjs-form" action="#">
      <div class="bookingjs-form-box">
        <div class="bookingjs-form-success-message">
          <div class="bookingjs-form-success-message-body">{{& successMessage }}</div>
        </div>
        <div class="bookingjs-form-fields"></div>
      </div>
      <button class="bookingjs-form-button" type="submit">
        <span class="inactive-text">{{ submitText }}</span>
        <span class="loading-text">{{& loadingIcon }}</span>
        <span class="error-text">{{& errorIcon }}</span>
        <span class="success-text">{{& checkmarkIcon }}</span>
      </button>
    </form>
  </div>