<div class="bookingjs-bookpage">
  <a class="bookingjs-bookpage-close" href="#">{{& closeIcon }}</a>
  <h2 class="bookingjs-bookpage-date">{{ chosenDate }}</h2>
  <h3 class="bookingjs-bookpage-time">{{ chosenTime }}</h3>
  <form class="bookingjs-form" action="#">
    <div class="bookingjs-form-box">
      <div class="bookingjs-form-success-message">
        <div class="title">{{ successMessageTitle }}</div>
        <div class="body">{{& successMessageBody }}</div>
      </div>
      <div class="bookingjs-form-fields">
        {{> formFields }}
      </div>
    </div>
    <button class="bookingjs-form-button" type="submit">
      <span class="inactive-text">{{ submitText }}</span>
      <span class="loading-text">{{& loadingIcon }}</span>
      <span class="error-text">{{& errorIcon }}</span>
      <span class="success-text">{{& checkmarkIcon }}</span>
    </button>
  </form>
</div>
