
<input
  class="bookingjs-form-input input-name"
  type="text"
  name="name"
  placeholder="{{ fields.name.placeholder }}"
  {{# fields.name.prefilled }} value="{{ fields.name.prefilled }}" {{/ fields.name.prefilled }}
  {{# fields.name.locked }} readonly {{/ fields.name.locked }}
  required
/>

<input
  class="bookingjs-form-input input-email"
  type="email"
  name="email"
  placeholder="{{ fields.email.placeholder }}"
  {{# fields.email.prefilled }} value="{{ fields.email.prefilled }}" {{/ fields.email.prefilled }}
  {{# fields.email.locked }} readonly {{/ fields.email.locked }}
  required
/>

{{# fields.phone.enabled }}
  <input
    class="bookingjs-form-input input-phone"
    type="tel"
    name="phone"
    placeholder="{{ fields.phone.placeholder }}"
    {{# fields.phone.prefilled }} value="{{ fields.phone.prefilled }}" {{/ fields.phone.prefilled }}
    {{# fields.phone.required }} required {{/ fields.phone.required }}
    {{# fields.phone.locked }} readonly {{/ fields.phone.locked }}
  />
{{/ fields.phone.enabled }}

{{# fields.voip.enabled }}
  <input
    class="bookingjs-form-input input-voip"
    type="text"
    name="voip"
    placeholder="{{ fields.voip.placeholder }}"
    {{# fields.voip.prefilled }} value="{{ fields.voip.prefilled }}" {{/ fields.voip.prefilled }}
    {{# fields.voip.required }} required {{/ fields.voip.required }}
    {{# fields.voip.locked }} readonly {{/ fields.voip.locked }}
  />
{{/ fields.voip.enabled }}

{{# fields.location.enabled }}
  <input
    class="bookingjs-form-input input-location"
    type="text"
    name="location"
    placeholder="{{ fields.location.placeholder }}"
    {{# fields.location.prefilled }} value="{{ fields.location.prefilled }}" {{/ fields.location.prefilled }}
    {{# fields.location.required }} required {{/ fields.location.required }}
    {{# fields.location.locked }} readonly {{/ fields.location.locked }}
  />
{{/ fields.location.enabled }}

{{# fields.comment.enabled }}
  <textarea
    class="bookingjs-form-input input-comment"
    rows="3"
    name="comment"
    placeholder="{{ fields.comment.placeholder }}"
    {{# fields.comment.required }} required {{/ fields.comment.required }}
    {{# fields.comment.locked }} readonly {{/ fields.comment.locked }}>{{# fields.comment.prefilled }}{{ fields.comment.prefilled }}{{/ fields.comment.prefilled }}</textarea>
{{/ fields.comment.enabled }}
