<div class="bookingjs-durationpage bookingjs-pagelayout {{# firstTime}} show {{/ firstTime }}">
  {{^ firstTime}}
    <a class="bookingjs-pagelayout-close" href="#">{{& closeIcon }}</a>
  {{/ firstTime }}
  <h2 class="bookingjs-bookpage-date">{{ durationTitle }}</h2>
  <p class="bookingjs-durationpage-message">{{ durationMessage }}</p>
  <div class="bookingjs-durationpage-list">
    {{# lengths }}
    <a class="bookingjs-durationpage-button">
      <span class="bookingjs-durationpage-button-duration">{{ duration }}</span>
      <span class="bookingjs-durationpage-button-name">{{ name }}</span>
    </a>
    {{/ lengths }}
  </div>
</div>
