<div class="tk-appt-window__wrapper">
    <div class="tk-appt-window__wrapper-header">
        <a class="tk-appt-window__wrapper-header__close" href="#">{{& closeIcon }}</a>
        <div class="tk-appt-window__wrapper-header__nav">
            <div class="tk-appt-window__wrapper-header__nav-point active"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
        </div>
        <div class="tk-appt-window__wrapper-header__title">
            Select an Appointment Type
        </div>
        <div class="tk-appt-window__wrapper-header__summary">
            Which appointment type would you like?
        </div>
    </div>
    <div class="tk-appt-window__wrapper-body">
        <div class="tk-appt-window__wrapper-body__scroll">
            <h1>Locations</h1>
        </div>
    </div>
</div>