<div class="tk-appt-window__wrapper">
    <div class="tk-appt-window__wrapper-header">
        <a class="tk-appt-window__wrapper-header__close" href="#">{{& closeIcon }}</a>
        <div class="tk-appt-window__wrapper-header__nav">
            <div class="tk-appt-window__wrapper-header__nav-point active"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
        </div>
        <div class="tk-appt-window__wrapper-header__title">
            Select an Appointment Type
        </div>
        <div class="tk-appt-window__wrapper-header__summary">
            Which appointment type would you like?
        </div>
    </div>
    <div class="tk-appt-window__wrapper-body">
        <div class="tk-appt-window__wrapper-body__scroll">
            <div class="card-wrapper">
                <div class="card-container-image">
                    <div class="card-image-container">
                        <img class="card-image" src="https://brandspace.deloitte.com/downloads/611c06b06e3fb/lg_shutterstock_1360347566.jpg.jpg" />
                    </div>
                    <div class="card-title">In-Store Styling Appointment</div>
                    <div class="card-body">A one-on-one styling session with a Lilly associate in your local store.</div>
                    <div class="card-footer"><i class="far fa-clock"></i> 60 minutes</div>
                </div>
                <div class="card-container-image">
                    <div class="card-image-container">
                        <img class="card-image" src="https://brandspace.deloitte.com/downloads/5f2407073ce22/lg_1606120399.jpg.jpg" />
                    </div>
                    <div class="card-title">Virtual Styling Appointment</div>
                    <div class="card-body">A one-on-one styling session with a Lilly associate via video chat.</div>
                    <div class="card-footer"><i class="far fa-clock"></i> 30 minutes</div>
                </div>
            </div>    
        </div>
    </div>
</div>