.tk-appt-window {
    &__wrapper {
        opacity: 1;
        position: fixed;
        bottom: 100px;
        right: 20px;
        width: 376px;
        min-height: 250px;
        max-height: 704px;
        border-radius: 8px;
        overflow: hidden;
        z-index: 1000000;
        height: calc(100% - 120px);
        box-shadow: rgb(0 0 0 / 16%) 0px 5px 40px;
        transition: width 200ms ease 0s, height 200ms ease 0s, max-height 200ms ease 0s;
    
        &.hide {
            display: none;
        }
    }

    #tk-bot-btn {
        width: 65px;
        height: 65px;
        font-size: 40px;
        border-radius: 50%;
        color: #ffffff;
        display: flex;
        position: fixed;
        align-items: center;
        text-decoration: none;
        justify-content: center;
        right: 20px;
        bottom: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        background-size: cover;
        background-position: center;
        transition: background-color 0.25s ease-out, box-shadow 0.25s ease-out;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    
        &:hover {
            box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
        }
    }
}