// Colors

$bgColor:     #FBFBFB;
$borderColor: #ececec;
$textColor:   #AEAEAE;

// Classes

.bookingjs {
  position: relative;
  max-width: 700px;
  font-family: sans-serif;
  font-size: 13px;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  margin: 50px auto 20px auto;
  overflow: hidden;
  z-index: 10;

  // Timezone Helper

  &-timezonehelper {
    color: $textColor;
    text-align: center;
    padding: 7px;
    background-color: $bgColor;
    border-top: 1px solid $borderColor;
    min-height: 15px;
    z-index: 20;
  }

  &-timezoneicon {
    width: 10px;
    margin-right: 5px;
  }

  // Book page

  &-bookpage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $bgColor;
    z-index: 30;

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 18px;
      transition: opacity 0.2s ease;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }

    &-date {
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      margin-top: 80px;
    }

    &-time {
      text-align: center;
      font-size: 19px;
      font-weight: 400;
      margin-bottom: 80px;
    }
  }

  &-closeicon {
    width: 15px;
  }

}
