// Colors

$textColor:       #333;
$bgColor:         #FBFBFB;
$borderColor:     #ececec;
$subtleColor:     darken($borderColor, 20%);
$primaryColor:    #689AD8;
$primaryDarkColor: darken($primaryColor, 10%);

// Classes

.fc-view-container {
  background-color: $bgColor;
  color: $textColor;
}

.fc-row.fc-widget-header {
  border-bottom: 1px solid $borderColor;

  .fc-day-header {
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;

    &::first-line {
      color: darken($borderColor, 20%);
    }
  }
}

.fc-axis {
  color: $subtleColor;
  font-size: 0.9em;
}

.fc-state-default {
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: white;
  border-color: white;
}

.fc-button {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.1em;
  border: 0px;
  outline: none;

  &:hover,
  &:visited,
  &:active,
  &:focus {
    outline: none;
    border: 0px;
    background-color: transparent;
  }
}

.fc-content-skeleton {
  border-top: 1px solid #DDD;
}

.fc .fc-toolbar {
  padding: 0px;
  margin-bottom: 0;
  border-bottom: 1px solid $borderColor;

  > * > button {
    padding: 15px 17px;
    height: auto;
    outline: 0;
    margin-left: 0;
    transition: opacity 0.2s ease;
    opacity: 0.3;

    &:hover {
      opacity: 1;
    }

    &.fc-state-disabled {
      transition: opacity 0s;
      opacity: 0;
    }

    &.fc-prev-button {
      padding-right: 8px;
    }

    &.fc-next-button {
      padding-left: 8px;
    }

    .fc-icon {
      font-size: 1.1em;
    }
  }

  > .fc-right > button.fc-today-button {
    padding: 15px 5px;
  }

}

.fc-unthemed .fc-today {
  background: white;
}

.fc-body > tr > .fc-widget-content,
.fc-head > tr > .fc-widget-header {
  border: 0 !important;
}

.fc th {
  border-color: white;
  padding: 5px;
}

.fc-unthemed .fc-divider,
.fc-unthemed .fc-popover .fc-header {
  background-color: transparent;
}

.empty-calendar .fc-event {
  opacity: 0;
}

.fc-event {
  transition: all 200ms, opacity 600ms;
  border: none;
  border-left: 3px solid $primaryColor;
  padding: 3px;
  background-color: white;
  border-radius: 4px;
  color: $textColor;
  margin: 1px 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  margin-bottom: 2px;
  opacity: 1;

  &:hover,
  &-clicked {
    color: white;
    background-color: $primaryColor;
    border-left: 3px solid $primaryColor;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  }

  .fc-bg {
    opacity: 0;
  }
}

.fc-day-grid-event {
  padding: 15px;
  margin: 5px;

  .fc-time {
    font-weight: 600;
  }

  .fc-title {
    padding: 0 5px 5px;
    font-weight: bold;
  }
}

.fc-time-grid .fc-slats {

  .fc-minor td {
    border-top-style: none;
  }

  td {
    border-top-color: $bgColor;

    &.fc-axis {
      border-top-color: $borderColor;
    }
  }
}

.fc-time-grid-event {

  &.fc-short {

    .fc-content {
      font-size: 0.7em;
      line-height:  0.2em;
    }

    .fc-time:after {
      content: '';
    }
  }

  .fc-time {
    font-size: 1.1em;
    padding: 5px;
  }

  .fc-title {
    padding: 0 5px 5px;
    font-weight: bold;
  }
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-divider, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
  border-color: $borderColor;
}

.fc-agendaMonthly-view .fc-event {
  color: white;
}

.fc-now-indicator {
  border-color: rgba(255, 0, 0, 0.5);
}
