// Imports

@import '_responsive.scss';

// Colors

$bgColor:         #FBFBFB;
$borderColor:     #ececec;
$textColor:       #AEAEAE;
$primaryColor:    #689AD8;
$primaryDarkColor: darken($primaryColor, 10%);

// Fonts

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Classes

.bookingjs {
  position: relative;
  max-width: 700px;
  font-family: 'Open Sans', Helvetica, Tahoma, Arial, sans-serif;
  font-size: 13px;
  border-radius: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
  margin: 60px auto 20px auto;
  z-index: 10;
  opacity: 0;

  &.show {
    transition: opacity 300ms ease;
    opacity: 1;
  }

  // Timezone Helper

  &-timezonehelper {
    color: $textColor;
    text-align: center;
    padding: 7px 10px;
    background-color: $bgColor;
    border-top: 1px solid $borderColor;
    min-height: 15px;
    z-index: 20;
    border-radius: 0 0 4px 4px;
  }

  &-timezoneicon {
    width: 10px;
    margin-right: 5px;
  }

  // Image avatar

  &-avatar {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 150px;
    border: 3px solid white;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.13);
    overflow: hidden;
    z-index: 40;
    background-color: white;

    img {
      max-width: 100%;
      vertical-align: middle;
      display: inline-block;
      width: 80px;
      height: 80px;
    }
  }

  // Book page

  &-bookpage {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $bgColor;
    z-index: 30;
    opacity: 0;
    transition: opacity 200ms ease;
    border-radius: 4px;

    &.show {
      opacity: 1;
    }

    &-close {
      position: absolute;
      top: 0;
      right: 0;
      padding: 18px;
      transition: opacity 0.2s ease;
      opacity: 0.3;

      &:hover {
        opacity: 1;
      }
    }

    &-date {
      text-align: center;
      font-size: 34px;
      font-weight: 400;
      margin-top: 90px;
      margin-bottom: 20px;

      @include mobile-only {
        font-size: 24px;
        margin-top: 60px;
        margin-bottom: 15px;
      }
    }

    &-time {
      text-align: center;
      font-size: 17px;
      font-weight: 400;
      margin-bottom: 70px;

      @include mobile-only {
        font-size: 15px;
        margin-bottom: 30px;
      }
    }
  }

  &-closeicon {
    width: 15px;
  }

  // Book page form

  &-form {
    width: 50%;
    position: relative;
    margin: 0 auto;
    text-align: center;

    @include mobile-only {
      width: 75%;
    }

    &-input {
      transition: box-shadow 200ms ease;
      width: 100%;
      padding: 15px 25px;
      border: 0px solid $borderColor;
      font-size: 1em;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 1px rgba(255,255,255, 0);
      text-align: left;
      box-sizing: border-box;

      &:focus {
        outline: 0;
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), inset 0px 0px 1px 1px $primaryColor;
      }

      &.first {
        border-radius: 4px 4px 0 0;
      }

      &.last {
        border-radius: 0 0 4px 4px;
      }

      &.hidden {
        display: none;
      }
    }

    &-button {
      position: relative;
      transition: background-color 200ms, width 300ms;
      display: inline-block;
      padding: 13px 25px;
      background-color: $primaryColor;
      text-transform: uppercase;
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15);
      color: white;
      border: 0px;
      border-radius: 3px;
      font-size: 1.1em;
      font-weight: 600;
      margin-top: 30px;
      cursor: pointer;
      width: 110px;
      height: 44px;
      outline: 0;

      .inactive-text,
      .success-text,
      .loading-text {
        transition: opacity 300ms ease;
        position: absolute;
        top: 13px;
        left: 25px;
      }

      .inactive-text {
        opacity: 1;
      }

      .loading-text,
      .success-text {
        opacity: 0;
      }

      .success-text svg {
        height: 15px;
        margin-top: 2px;
      }

      &.loading,
      &.loading:hover {
        width: 100px;
        background-color: #B1B1B1;

        .inactive-text { opacity: 0; }
        .loading-text { opacity: 1; }
      }

      &.success,
      &.success:hover {
        width: 72px;
        background-color: #5BAF56;

        .loading-text,
        .inactive-text { opacity: 0; }
        .success-text { opacity: 1; }
      }

      &:hover {
        background-color: $primaryDarkColor;
      }
    }
  }

}
