// Rotate spin animation

@keyframes spin {
    to { transform: rotate(360deg); }
}

// Shake animation

@keyframes shake {
  0% { transform: translateX(0px); }
  25% { transform: translateX(5px); }
  50% { transform: translateX(-5px); }
  75% { transform: translateX(5px); }
  100% { transform: translateX(0px); }
}
