<div class="tk-appt-window__wrapper hide">
    <div class="tk-appt-window__wrapper-header">
        <div class="tk-appt-window__wrapper-actions">
            <a class="tk-appt-window__wrapper-actions__left" href="#">
                <i class="back-icon" style="background-image: url({{&backIcon}})"></i>
            </a>
            <a class="tk-appt-window__wrapper-actions__right" href="#">
                <i class="close-icon" style="background-image: url({{&closeIcon}})"></i>
            </a>
        </div>
        <div class="tk-appt-window__wrapper-header__nav">
            <div class="tk-appt-window__wrapper-header__nav-point active"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
            <div class="tk-appt-window__wrapper-header__nav-line"></div>
            <div class="tk-appt-window__wrapper-header__nav-point"></div>
        </div>
        <div class="tk-appt-window__wrapper-header__title">
            {{ selectorOptions.title }}
        </div>
        <div class="tk-appt-window__wrapper-header__summary">
            {{ selectorOptions.description }}
        </div>
    </div>
    <div class="tk-appt-window__wrapper-body">
        <div class="tk-appt-window__wrapper-body__scroll">
            {{#services}}
                <div class="card-wrapper" id="{{ id }}">
                    <div class="card-container-image">
                        <div class="card-image-container">
                            <img class="card-image" src="{{ image_url }}" />
                        </div>
                        <div class="card-title">{{ name }}</div>
                        <div class="card-body">{{ description }}</div>
                        <div class="card-footer"><i class="far fa-clock"></i> {{ availability.length }}</div>
                    </div>    
                </div>    
            {{/services}}
        </div>
    </div>
</div>